body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    margin: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

form h1 {
    margin: 0 0 20px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    font-size: 14px;

}

button:hover {
    background-color: #003a00;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    margin-bottom: 5px;
}

.homepage-container h1 {
    margin-bottom: 20px;
}

.homepage-container .description {
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 150px 150px 150px 150px white inset;
}

.navLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 50%;
}

.navLeft a {
    position: relative;
    padding: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-bottom: darkgreen 1px solid;
}

.navLeft a::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 1px;
    height: 80%;
    background-color: #e8e8e8;
}

.navLeft a:hover {
    background-color: darkgreen;
    color: white;
    transition: background-color 0.3s;
}

.navLeft a:hover::after {
    background-color: darkgreen;
    transition: background-color 0.3s;
}

.navRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    background-color: white;
}

.no-account {
    margin-top: 20px;
}

ul.error-list {
    list-style-type: none;
    padding: 0;
}

.error {
    color: red;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

table th {
    background-color: darkgreen;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

p.link {
    cursor: pointer;
    color: darkgreen;
}

p.link:hover {
    text-decoration: underline;
}

.auth {
    width: 100%;
    text-decoration: none;
    color: white;
    text-underline: none;
}

.authForm {
    display: flex;
    justify-content: flex-end;
    width: 150px;
    margin-right: 15px;
}

.authLink {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    margin-right: 15px;
    text-decoration: none;
    width: 130px;
    text-align: center;
    font-size: 14px;
}

a.active {
    background-color: darkgreen;
    color: white;
}

a.active::after {
    background-color: darkgreen;
    transition: background-color 0.3s;
}


@media screen and (max-width: 650px) {
    nav {
        height: 60px;
    }

    .navLeft a {
        padding: 0 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navRight {
        width: 100%;
    }

    .authForm {
        width: 100px;
        justify-content: center;
    }

    form {
        width: 100%;
    }
}

p.token {
    word-break: break-all;
}